<h1>Meus contatos</h1>

<div class="m-10">

    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput type="text" [(ngModel)]="nome">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input matInput type="text" [(ngModel)]="telefone">
    </mat-form-field>

    <button mat-button color="primary" (click)="cadastrarContato()">Cadastrar</button>

</div>

<mat-list class="m-10">
    <mat-list-item *ngFor="let contato of listaContatos">
        <div class="flex justify-between">
            <span>{{contato.name}}</span>
            <span>{{contato.phone}}</span>
            <span>
                <button [matMenuTriggerFor]="menu" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu>
                    <button mat-menu-item (click)="visualizar(contato)">
                        Visualizar
                    </button>
                    <button mat-menu-item (click)="excluir(contato)">
                        Excluir
                    </button>
                </mat-menu>
            </span>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>

