<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" class="p-5">
      <button mat-button (click)="irParaPaginaLogin()">Login</button>
    </mat-drawer>

    <nav class="bg-neutral-200 p-5 flex justify-between">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <button mat-raised-button color="primary" (click)="irParaPaginaLogin()">
        Login
      </button>

    </nav>

    <div class="w-full p-5 h-full">
      <ng-content></ng-content>
    </div>
</mat-drawer-container>
  