<div class="p-5">
    <h1 *ngIf="nomeVisitante.length>0">
        Seja bem-vindo(a), {{nomeVisitante}}!
    </h1>
    <form [formGroup]="loginForm">
        <p>
            <mat-form-field>
                <mat-label>Usuário</mat-label>
                <input matInput formControlName="email" placeholder="Seu e-mail">
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input type="password" formControlName="senha" matInput placeholder="Sua senha">
                <mat-icon matSuffix>security</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <button mat-raised-button color="warn" (click)="fazerLogin()">Entrar</button>
            <button mat-button color="warn" (click)="voltarHome()">Voltar</button>
        </p>
    </form>
</div>