<div class="flex justify-center bg-yellow-300 shadow-xl">
    <p class="text-blue-600 font-bold uppercase">
        index works!
    </p>
</div>

<p class="p-5 flex justify-center content-center items-center space-x-2">
    <mat-form-field>
        <mat-label>Quem é você?</mat-label>
        <input matInput [(ngModel)]="nomeDigitado" placeholder="Nome completo">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="enviar()">
        Enviar
    </button>
</p>

<div *ngIf="nomeDigitado.length>0">
    <p class="text-center">
        Seu nome: {{nomeDigitado}}
    </p>

    <p class="flex justify-center">
        <button (click)="irParaLogin()" mat-button color="primary">
            Ir para tela de login
        </button>
    </p>
</div>